# Probably should enable this at some point, but waiting for now
# in order to support previous non-bundler installation methods.
# *.gem

*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
DS_Store
